* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(198, 198, 254);
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    width: 90%;
  }
  .button{
    min-height: 10vh;
    padding: 20px;
  }
  .btn{
    width: 16%;
    height:40px;
    background: rgb(125, 125, 243);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  table, td, th {
    background-color:rgb(185, 185, 254) ;
    border: 1px solid;
    padding: 10px;
  }
  .table1, .table2, .table3{
  
    margin-top: 1rem;
    text-align: left;
    width: 100%;
    height: auto;
    border-collapse: collapse;
  }
  .thumbnail {
    width: 38px;
    height: 38px;
    border: 1px solid black;
    border-radius: 90%;
    margin-right: 10px;
  }